= provide(:title, "パスワードリセット")
.login-card
  %p
    Forgot Password
    = form_for(:password_reset, url: password_resets_path, :html => {:class => 'form-signin'}) do |f|
      = f.text_field :email, {class: 'form-control', placeholder: 'メールアドレス'}
      = f.submit '送信', {class: 'btn btn-primary btn-block btn-lg btn-signin'}