.annotation
  パスワード 6文字以上 12文字以内
= f.password_field :password, {id: 'password', class: 'form-control validate[required,minSize[6],maxSize[12]]', placeholder: 'パスワード' , value: 'password'}
.annotation
  パスワード(確認)
= f.password_field :password_confirmation, {class: 'form-control validate[required,minSize[6],maxSize[12]] equals[password]', placeholder: 'パスワード(確認)' ,value: 'password'}