- @user ||= current_user
.stats
  フォロー
  %a{href: following_user_path(@user)}
    %strong#following.stat
      = @user.following.count
  フォロワー
  %a{href: followers_user_path(@user)}
    %strong#followers.stat
      = @user.followers.count