= form_for(current_user.active_relationships.find_by(followed_id: @post.user.id), html: { method: :delete }, remote: true)do |f|
  %div
    = hidden_field_tag :followed_id, @post.user.id
    = hidden_field_tag :post_id, @post.id
  = f.submit "フォロー解除", class: "btn btn-warning btn-circle btn-block mt-3"