= select :sort, :select, [["投稿日時が新しい順", "created_desc",{},{id: 'sort_created_desc'}], ["投稿日時が古い順", "created_asc",{},{id: 'sort_created_asc'}], ["いいね!が多い順", "like",{},{id: 'sort_like'}]]
= sort_link(@q, :created_at, {default_order: :desc}, {remote: true, id: 'sort_link_created_at_desc'})
= sort_link(@q, :created_at, {}, {remote: true, id: 'sort_link_created_at_asc'})
= sort_link(@q, :likes_count, {default_order: :desc}, {remote: true, id: 'sort_link_like'})