/* navber */
.navbar {
  margin-bottom: 20px;
}

.dropdown-menu {
  position: absolute;
  top: 67px;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.15);
}


.dropdown-menu li a{
  padding: 12px 16px;
}

@media screen and (max-width: 480px) {
  .dropdown-menu {
    background-color: #1a1a1a;
    border: none;
  }

  .dropdown-menu li a{
    color: #fff;
  }
}

/* search box */

.search-box input {
  height: 32px;
  width: 190px;
  padding-left: 10px;
  border: none;
  border-radius: 4px;
}

.search-btn {
  background-color: #d4d9df;
  border-radius: 3px;
}

@media only screen and (min-width : 768px) {
  .search-box {
    margin-left: 14px;
  }
}

@media screen and (max-width: 480px) {
  .search-box input {
    width: 92%;
  }
}

/* login-form */
.login-card {
  max-width: 350px;
  padding: 40px 40px;
  background-color: #F7F7F7;
  margin: 0 auto 25px;
  margin-top: 50px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-card .profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}

.login-card .profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.login-card .reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.login-card .form-signin input[type=email], .login-card .form-signin input[type=password], .login-card .form-signin input[type=text], .login-card .form-signin button {
  height: 44px;
  font-size: 16px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
}

.login-card label {
  color: #000000;
}

.login-card .form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.login-card .btn.btn-signin {
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  background: rgb(104, 145, 162);
  border-radius: 3px;
  border: none;
  transition: all 0.218s;
  padding: 0;
}

.login-card .btn.btn-signin:hover, .login-card .btn.btn-signin:active, .login-card .btn.btn-signin:focus {
  background: rgb(12, 97, 33);
}

.login-card .forgot-password {
  color: rgb(104, 145, 162);
  font-size: 14px;
  font-weight: bold;
}

.login-card .forgot-password:hover, .login-card .forgot-password:active, .login-card .forgot-password:focus {
  color: rgb(12, 97, 33);
}

.field_with_errors {
  .form-control {
    color: red;
  }
}

.login-card {
  p{
    text-align: center;
    font-size: 26px;
  }
}

.form-panel {
  border: solid rgb(92,40,40) 1px;
  max-width: 800px;
  margin: 80px auto;
}

.form-control {
  background-color: #fff;
  border: solid 1px #b0c4de;
  border-radius: 4px;
}

/* users */
.follow_stats {
  text-align: center;
}

.user-posts-list-text {
  font-size: 18px;
}

.profile-edit-btn-wrapper {
  text-align: right;
}

.profile-edit-btn {
  background-color: #dcdcdc;
  color: #696969;
}

.profile-edit-btn:hover{
  background-color: #c0c0c0;
}

@media screen and (max-width: 480px){
  .profile-edit-btn-wrapper {
    text-align: center;
    margin-top: 22px;
  }
}

/* users edit  */

.btn-avater-file-select {
  background: #1e90ff;
  color: #fff;
  border-radius: 6px;
  width: 200px;
  height: 40px;
  font-size: 1rem;
}

/* posts  */
.module {
  padding: 0px;
}

.thumbnail {
  display: block;
  margin: 0 auto;
  max-height: 380px;
}

/* posts index */
.post-index-title {
  font-size: 18px;
}

/* posts form */

.micropost_form {
  text-align: center;
  margin: 0 auto;
}

.btn-file-select {
  background: #1e90ff;
  color: #fff;
  border-radius: 6px;
  width: 300px;
  height: 60px;
  font-size: 1rem;
}

#images_file_field {
  display: none;
}

#edit_avater_file_field {
  display: none;
}

#images_preview_field {
  background: #333;
}

.preview_item {
  display: inline-block;
  position: relative;
  background-size: contain !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  width: 150px;
  height: 150px;
  margin: 10px;
  vertical-align: top;
  background-color: #4a4a4a !important;
}

.file-name {
  word-wrap: break-word;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3px 6px;
  font-size: 11px;
  line-height: 15px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  direction: ltr;
  text-align: left;
}

.preview {
  height: auto;
  width: auto;
}

.caption-field {
  height: 120px;
}

.field {
  width: 60%;
  margin: 0 auto;
}

.field textarea{
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  margin-top: 3px;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.annotation {
  text-align: left;
  margin-bottom: 2px;
}

.images-annotation {
  text-align: center;
}

.text_error_message {
  width: 60%;
  color: red;
  text-align: left;
}

.bootstrap-tagsinput{
  width: 100%;
}

.bootstrap-tagsinput input{
  width: 100%;
}

.edit-images-link {
  color: #fff;
}

@media screen and (max-width: 480px){
  .field {
    width: 100% !important;
  }

  #title_error_message {
    width: 100%;
  }

  .bootstrap-tagsinput{
    width: 100%;
  }
}

/* post show  */
.post-title {
  text-transform: none;
}

.post-entry {
  font-size: 1rem;
}

.current-user-like-btn {
  background-color: #eb6ea0;
  color: #fff;
  cursor: default !important;
}

@media screen and (max-width: 480px){
  .like_form {
    float: right;
  }
}

.like_count_balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 80px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  text-align: center;
  background: #FFF;
  border: solid 3px #555;
  border-radius: 4px;
  box-sizing: border-box;
}

.like_count_balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.like_count_balloon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.sort_link {
 display: none;
}

.sort_select_wrapper {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.sort_select_wrapper select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.sort_select_wrapper select::-ms-expand {
    display: none;
}
.sort_select_wrapper {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.sort_select_wrapper::before {
	position: absolute;
	top: 1.4em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.sort_select_wrapper select {
	padding: 8px 38px 8px 8px;
	color: #1a1a1a;
}

/* follow  */
  .follow-user-name {
    display: block;
    text-align: center;
    font-size: 14px;
  }

  .follow-count {
    font-size: 18px;
  }

  @media screen and (max-width: 480px){
    .follow-count {
      font-size: 26px;
      text-align: center;
      margin-top: 1.5rem;
    }
  }

/* follow_stats  */
  .follow_stats {
    text-align: center;
  }

/* error_messages  */
.error_explanation {
  width: 60%;
  margin: 0 auto;
  ul {
    text-align: left;
    color: red;
  }
}


@media screen and (max-width: 480px) {
  .error_explanation {
    width: 100%;
  }
}

/* utility  */
.thumb-cercle {
  background-position: center center;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-size: cover;
  margin: 0 auto;
}

.valid-error-input {
  border: solid red 1px !important;
}

.text-red {
  color: red;
}

.border-red {
  border: solid red 1px;
}

/* titan-cancellation  */
.user-name {
  display: block;
  text-align: center;
}

.module {
  padding: 0 !important;
}

.team-descr {
  margin: 10px 0 0 !important;
}